.button-login {
  border: 0.1rem solid transparent;
  background: black;
  cursor: pointer;
  color: rgb(247, 3, 3);
  font-weight: 500;
  padding:2px;
  /* width: 3rem; */
  /* border-radius: 10rem;
  padding-top: 0.21rem; */
}

.username{
  color: white;
  padding: 2px;
}
.login {
  width: 2.5rem;
  /* height: 5rem; */
}
